<?xml version="1.0"?>
<!--
/**
 * Created by Qoliber
 *
 * @author      qoliber <info@qoliber.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="moneda_pay" frontName="moneda_pay">
            <module name="MonedaPay_MonedaPay"/>
        </route>
    </router>
</config>
